* {
  box-sizing: border-box;
}
html,
body,
#root {
  width: 100%;
  height: 100vh !important;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: black;
  font-family: "Montserrat", sans-serif;
}

body {
  position: fixed;
}

.wiz {
  display: flex;
  height: 700px;
  width: 400px;
  padding-top: 40px;
  z-index: 1 !important;
}

.button-primary {
  background-color: #960696 !important;
}

.mint-option {
  color: black !important;
}

#hero-button {
  transform: translate(0, 25vh);
  cursor: pointer;
}

.terms {
  font-size: xx-small;

  transform: translate(0, 50vh);
  margin-top: -25px !important;
  padding: 10px;
}

.app {
  z-index: 999;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .legendary-1 {
    padding-left: 80px;
  }

  .legendary-2 {
    padding-right: 80px;
  }

  .wiz {
    padding-left: 100px;
  }

  .token {
    padding-left: 70px;
    padding-right: 70px;
    z-index: 9999;
  }
}
@media only screen and (max-width: 768px) {
  /* mobile only */
  .coming--soon--inner {
    margin-top: -300px !important;
  }
  .coming--soon {
    background-position: 20% !important;
  }
  .wiz {
    height: 400px;
    margin-top: -10px;
    margin-bottom: 50px !important;
  }
  .token-image {
    justify-content: center;
    display: flex;
  }
  .token {
    z-index: 9999 !important;
  }
  .token-box {
    z-index: 9999 !important;
  }

  .discord {
    z-index: 999999;
  }

  .hero-image {
    background-position: 20% !important;
  }
  .mint-page {
    max-height: 100vh;
  }
}

.mint-page {
  background-repeat: no-repeat;
  background-image: url("../public/background_mages.png");
  background-position: center;
  background-size: cover;
  background-color: transparent;
}

.launchpad--container {
  display: flex;
  flex-direction: row;
}

.launchpad--input ::placeholder {
  color: "white" !important;
}

.coming--soon {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-image: url("../public/hero_gif.gif");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.coming--soon h1 {
  font-size: 30px;
  font-weight: bold;
}

.coming--soon--inner {
  margin-top: -100px;

  text-align: center;
}
