* {
  box-sizing: border-box;
}
html,
body,
#root {
  width: 100%;
  height: 100vh !important;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  position: fixed;
}

.button-primary {
  background-color: #960696 !important;
}

.mint-option {
  color: black !important;
}

#hero {
  z-index: 2147483647 !important;
  position: relative !important;
}

#hero-button {
  transform: translate(0, 20vh);
  cursor: pointer;
}

.voxel-scene {
  z-index: 999;
}

.terms {
  padding: 10;
  font-size: xx-small;
  opacity: 0.5;
  transform: translate(0, 40vh);
}
